.meetingDetailsComponent {
    width: 65%;
    margin: auto;
}

.listDateComponent {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.listTimeComponent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    margin: 20px auto;
}

.timeButtonDiv , .dateButtonDiv{
    margin: 6px 3px;
}

.timeButton {
    width: 100px;
}

.meetingDateTimeDiv {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meetingDescDiv button{
    margin: 10px;
}

.nextButtonDiv{
    margin: 20px;
}

@media(max-width: 700px){
    .meetingDetailsComponent {
        width: 95%;
    }

    .listDateComponent {
        flex-wrap: wrap;
    }

    .listTimeComponent {
        width: 100%;
        margin: 100px auto;
    }
}